language: python
python:
  - "2.7"
  - "3.6"  
  
# command to install dependencies
install:
  - pip install -r requirements.txt
  - python setup.py bdist_wheel
  - python setup.py install
         
         # command to run tests
script:
 - pytest
           
