### Dependencies        
### To install, run:    
### $ pip install -r requirements.txt   

numpy>=1.15.2
pandas
scikit-learn>0.20.1
joblib
smac==0.10.0
hyperopt
tqdm
pyDOE
sobol_seq

git+https://github.com/ZebinYang/pyunidoe.git
git+https://github.com/ZebinYang/spearmint-lite.git
